### Git ###
*.orig

### Output ###
dist/

### Node ###
node_modules/
bower_components/
package-lock.json

### VSCode ###
.vscode/

### IDEA ###
.idea/

### VIM ###
*~
*.swp
*.swo

### General ###
*.log
*.lock*
*.DS_Store
